language: objective-c
osx_image: xcode9.2
rvm:
- 2.2
before_install:
- chmod +x ./TravisScripts/install.sh
- chmod +x ./TravisScripts/build.sh
- git config credential.helper "store --file=.git/credentials"; echo "https://${GITHUB_TOKEN}:@github.com" > .git/credentials 2>/dev/null
- git config --global user.email "janovdd@gmail.com"
- git config --global user.name "Janovdd"
install:
- "./TravisScripts/install.sh"
script:
- "./TravisScripts/build.sh"
notifications:
    email: false
deploy:
  edge:
    branch: v1.8.47
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  on:
    target-branch: 

