language: objective-c
osx_image: xcode9.2
rvm:
- 2.2
before_install:
- chmod +x ./TravisScripts/install.sh
- chmod +x ./TravisScripts/build.sh
install:
- ./TravisScripts/install.sh
script:
- ./TravisScripts/build.sh
deploy:
  provider: heroku
  api_key:
    secure: gDrDWZd8gffdjw1HnovWtbC8luS5LTRUAyB58HLtlUndNJ9LfN9T8GtmxZTS38k7NmZoDNoIh+1n8bC9FKlAayysDACZBZfOyxuwazEN2PRfBc0MMU7TkOiHkmmLzE7WCXSWawCeczkp0z3jSXEsf20vwKXYcQFCyIez3/KJpukmrrUqQQVmQpoDwX2n+K76fFuh1rXMIA63U85R7tkiEtOgi1u6wy+9Zgsj8QSul5YUkh7QRAfogZl5u1c9WZFw3zCDr/U7TpjhfD/HeOURkN4zMzPIO2oTuMugn7nSJBGViWRgBDkDg2cyUVyPipxmGNx3+AIljqG052hdMkL2DuuYaQoBdSS9CCwEblp9hoAElbfDujYi5pqjunYHWGaak9zfq6AX4mygfb2ybkdls/TIMR1SJb7uzkYC23BFRBrPdzD15wMTWI3T+bPr+0gq2hOH+5SObPIn3osBkPGEZkLlXOItKaZf34z+2/AsSoT0SYdqr65D5/POSXDsDc3461XejCseI3QpXzaMU1AZigZtX0zKKIx9UTFt8O/E0uob+ankMtqnBGrs6OMQtVz3OFAPmp4eH5XhPZkbsiyD15zAAQF5XPExqJTFfFzjl1TTvOsTJY6dT9mFWjVEwS9U3WNBPqQd0QVbctxoz1LfAZN/jzVxm5U4b0ZFKWlpbqI=
  app: unity-demo
  on: demojano
