language: objective-c
osx_image: xcode9.2
rvm:
- 2.2
before_install:
- chmod +x ./TravisScripts/install.sh
- chmod +x ./TravisScripts/build.sh
install:
- ./TravisScripts/install.sh
script:
- ./TravisScripts/build.sh
deploy:
  provider: heroku
  api_key:
    secure: G1iWq6yihs/WX4YdSwCwN46il9fzUEOPbgsTl685hp+rBYyoCeuurBofhegtk4wDhbqKQjryspgXjcrrbecPDEoHKSwwFLw3izZExTLnRxh+/xX/x6weFxujPDG8jSxhXRKmu4yj95UPy8vhbBBrnsPE3awPnBxSBkexsAaJsEYDPwz2SXZX5OBUujM2W5fvteXKeMIrDQ/R/aK6p56UFf4qoVOlQEpF8LYGbtbpgwOhRAlT+MVfjBYmqZOxOFFdfuhhpRjTBnQ9Dlxx1v2f7lPe65wm7i2U3PJx/4xAu1f0YNKiCZRH+llQjorsn0OWcag3VvC8mK5bvXCG/9wfr+swK6CFHHQaOGJhYgwk6Ytr7Ad//Bq3A9y249lyEgbBHr5ZXzXKXBtsIbJXoTIstnJsjBFot/tujCXAiTRz37QWYaHO2QYtmFWAsf/ZdQDkVoB5E7zayw7XLXqSyf5SX2Z40SR4dZ6vpYelqytD/Mq9GSin3Lt98wWtYASjZ/iYUkImfHDn4pbWBDB6cu+MarCzzewmd4H4ykW9M20atqj75IMitSKXFjUol/qkKFzCNIYeX1DIIF9B6JnhlWOczhNIn+75k+dQf1UKChyJpFdkBtguMB5LkLqUaWJxKIlKhsCCPlcNpINzYz6g/D9/agpBDjP0qvNvxbp4sq51ek4=
  app: unity-demo
  on: demojano
