language: objective-c
osx_image: xcode9.2
rvm:
- 2.2
before_install:
- chmod a+x ./TravisScripts/install.sh
- chmod a+x ./TravisScripts/build.sh
install:
- ./TravisScripts/install.sh
script:
- ./TravisScripts/build.sh

