language: objective-c
osx_image: xcode9.2
rvm:
- 2.2
before_install:
- chmod +x ./TravisScripts/install.sh
- chmod +x ./TravisScripts/build.sh
install:
- ./TravisScripts/install.sh
script:
- ./TravisScripts/build.sh
deploy:
  provider: pages
  skip-cleanup: true
  github-token: 117499fb90f75dc1f0580b360f4d07a2d289c523117499fb90f75dc1f0580b360f4d07a2d289c523
  keep-history: true
  on:
    branch: demojano
