language: objective-c
osx_image: xcode9.2
rvm:
- 2.2
before_install:
- chmod +x ./TravisScripts/install.sh
- chmod +x ./TravisScripts/build.sh
install:
- "./TravisScripts/install.sh"
script:
- "./TravisScripts/build.sh"
notifications:
    email: false
deploy:
    provider: releases
    skip-cleanup: true
    file:
        - unity-project.exe
        - unity-project.app
    github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable 
    on:
        tags: true

